.home {
  text-align: center;
}

#root {
  background: url("./background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
}

.login {
  display: grid;
  grid-template-columns: auto auto;
}

#name {
  align-self: center;
}
